body, input {
  font-family: "Amaranth", sans-serif;
}

.progress-tracker {
  /* border: 0.1rem solid black; */
  margin: 0.5rem;
  overflow: visible;
}

.container {
  max-width: 100px;
  margin: 0 auto;
}


.progress-tracker__input-container {
  margin-bottom: 1.5rem;
}

.progress-tracker__input-container input {
  font-size: 2rem;
  padding: 1rem;
  width: 4rem;
  text-align: center;
}